@font-face {
    font-family: ErrorPageFont;
    src: url('/assets/fonts/404_font/old_typewriter.ttf');
    font-weight: bold;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: ErrorPageFont;
    background-color: #d7d7d7;
}
.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.content {
    text-align: center;
    display: inline-block;
}
.title {
    font-size: 60px;
    margin-bottom: 40px;
}
#error-text {
    border: none;
    border-width: 0px;
    color: #B0BEC5;
    text-align: center;
    font-size: 24px;
    font-family: ErrorPageFont;
}